.header{
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

.header input{
  width: 40%;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
}

.star{
  font-size: 30px;
  cursor: pointer;
}
.gold{
  font-size: 30px;
  cursor: pointer;
  color: gold;
}